body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.blog {
  width: 100%;
}

.blog__button {
  border: none;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

* {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
